@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

:root {
  --background: #EEEEEE;

  --color-auxiliar: #66FF00;
  --color-primary:#0033FF;
  --color-secondary: #000066;

  --shadow-color: #00000099;

  --color-icon-contact: #04A784;
  --color-icon-facebook: #0E8EF2;
  --color-icon-instagram: #FD5949;
  --color-icon-home: #0033FF;

  font-size: 62.5% /* 1rem = 10px */;
}

body {
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

.articleTitle {
  background: var(--color-secondary);
  color: var(--color-auxiliar);
  font-size: 2rem;
  margin: 1rem 0rem;
  padding: 0.5rem 0rem 0.5rem 1rem;
}